*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  min-width: 1400px;
  overflow-x: hidden;
  position: relative;
}

h3{
  font-size: 1.5em;
  padding-bottom: 25px;
}
h4{
  text-transform: uppercase;
  padding: 30px 0;
}
h5{
  font-size: 32px;
  padding: 10px 0;
  font-weight: 700;
}
p{
  font-size: 14.5px;
  line-height: 2;
  font-weight: 400;
}

li{
  list-style: none;
  padding: 0 15px 0 0;
  text-transform: capitalize;
  font-size: 14.5px;
}

/* utillity */
.bg_light{
  background: #F4F9FD;
}
.bg_icon{
  color: #00A4BD;
}
.bg_btn{
  background: #FE775A;
  border-radius: 6px;
  color: white;
  border: 1px solid #FE775A;
}
.bg_btn:hover{
  background: #ffbcac;
  border: 1px solid #ffbcac;
}
.color_text{
  color: #33475B;
}
.color_link:hover{
  color: #007a8c;
  text-decoration: underline;
}
.bg_ban{
  background: #AFEBE4;
}
.bg_community{
  background: #00A8BA;
}
.bg_footer{
  background: #32495B;
}

.fixed{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.float_left{
  float: left;
}

.h_80{
  height: 80px;
}
.border_t{
  border-top: 2px solid #33475B;
}
.border_b{
  border-bottom: 2px solid #33475B;
}
.b_r{
  border-right: 1px solid #33475B;
}

.icon_o{
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px;
}
.icon_o:hover{
  background: #fff1ee;
}
.icon_li{
  color: #FE775A;
  padding-right: 10px;
}
.t_sm{
  font-size: 13.5px;
}
.t_big{
  font-size: 2em;
}
.text_center{
  text-align: center;
}
.text_left{
  text-align: left;
}

a{
  text-decoration: none;
  color: #33475B;
}

.p_r_20{
  padding-right: 20px;
}
.p_l_20{
  padding-left: 20px;
}
.p_20{
  padding: 20px;
}
.p_10_20{
  padding: 10px 20px;
}
.p_btn{
  padding: 20px 35px;
}
.p_50{
  padding: 50px;
}
/* /utility */

.container{
  width: 70%;
  margin: auto;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}

#site_header{
  /* height: 850px; */
}
#main_content{
  /* height: 2900px; */
}
#site_footer{
  height: 650px;
}

/* header */
/* navbar_top */
.menu_left, .menu_right{
  width: 50%;
  line-height: 80px;
}
.menu_right, .nav_inner{
  text-align: right;
}
/* navbar */
.logo{
  width: 20%;
  margin-top: 7px;
}
.nav_inner{
  width: 80%;
}
.logo, .nav_inner{
  line-height: 80px;
}

/* hero */
.hero{
  height: calc(850px - (80px * 3));
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 102.5%;
}
.hero_image{
  position: relative;
}
.hero_text{
  width: 44%;
  position: absolute;
  transform: translateY(67px);
}
.hero_text h1{
  font-size: 42px;
  font-weight: 500;
}
.hero_text p{
margin: 20px 0;
}
.btn{
  display: inline-block;
  margin: 20px 0;
}
/* main */
/* services */
#services p.center{
  padding: 20px 70px 0;
}
.cubo{
  transform: translateX(20px);
}
/* .col_12 */
.col_12::after{
  content: "";
  display: table;
  clear: both;
}
.col_12{
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
  background: white;
  padding: 60px 0;
}
.col_left{
  width: 30%;
  padding: 10px;
}
.libro{
  width: 52%;
  transform: translateY(-13px);
}
.col_left a{
  transform: translateY(-15px);
}

.col_right{
  width: 70%;
  padding-left: 20px;
  padding-right: 81px;
}
.col_right li{
  display: inline-block;
}

#hr_inline{
  transform: translate(214px, -41px);
  width: 64%;
  border: 1px solid grey;
}
/* .col_4 */
.row::after{
  content: "";
  display: table;
  clear: both;
}
.col_4{
  width: 30%;
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 2.5%;
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
}
.col_4_center{
  margin-left: 5%;
  margin-right: 5%;
}

.card hr{
  margin-top: 40px;
  border: 1px solid grey;
}

.marketing_hub{
  width: 37%;
}
.sales_hub{
  width: 46%;
}
.service_hub{
  width: 34%;
}
.marketing_hub, .sales_hub, .service_hub{
  margin: 14px 0;
}

.btn_learn_more{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* /.services */
/* .community */
#community{
  padding: 50px 0 100px;
}
.support::after{
  content: "";
  display: table;
  clear: both;
}
.support{
  padding-top: 30px;
}
.col_3{
  width: 25%;
  padding: 20px 50px;
}
.text_white{
  color: white;
}

.plus_sm{
  font-size: 14px;
  transform: translateY(-5px);
}

.text_sm{
  font-size: 11px;
}
.b_bottom{
  border-bottom: 1px solid white;
}
.b_right{
  border-right: 1px solid white;
}

/* immagini */
.row1_1{
  width: 30%;
}
.row1_2{
  width: 47%;
}
.row1_3{
  width: 86%;
}
.row1_4{
  width: 72%;
}
.row2_1{
  width: 48%;
}
.row2_2{
  width: 23%;
}
.row2_3{
  width: 24%;
}
.row2_4{
  width: 104%;
}
/* /immagini */
/* /community */
/* testimonials */
#testimonials{
  padding: 50px 0;
}
.row_t::after{
  content: "";
  display: table;
  clear: both;;
}
.col_6_left{
  width: 30%;
  padding-right: 65px
}
.col_6_right{
  width: 70%;
  text-align: right;
}
.row_t.top{
  padding: 0 65px;
}

h3.big{
  font-size: 2.75em;
}
.col_6_right img{
  width: 20%;
  /* display: inline-block; */
}
.icon_row::after{
  content: "";
  display: table;
  clear: both;
}
.icon_row > .float_left{
  width: 25%;
  text-align: center;
  padding:20px;
}
/* immagini */
.icon_row1_1{
  padding: 12px 20px 20px;
}
.icon_row1_2{
  padding: 20px 20px;
}
.icon_row1_3{
  padding: 12px 20px;
}
.icon_row1_4{
  padding: 10px 20px 14px;
}
.icon_row2_1{
  padding: 10px 20px;
}
.icon_row2_2{
  padding: 10px 20px;
}
.icon_row2_3{
  padding: 10px 20px;
}
.icon_row2_4{
  padding: 10px 20px;
}
/* /immagini */
.col_6_b{
  width: 50%;
  padding: 100px 0 0;
}
.p_r_50{
  padding-right: 50px;
}
.m_50_0{
  margin: 50px 0;
}

.right{
  text-align: right;
}
.col_6_b > img {
  width: 66%;
  transform: translateY(-11%);
}
