*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  min-width: 1400px;
  overflow-x: hidden;
}

/* utility e position */
.container{
  width: 70%;
  margin: auto;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}
.float_left{
  float: left;
}

.fixed{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#navbar{
  position: relative;
  margin-top: 80px;
}

.h_80{
  height: 80px;
}

/* text */
h1{
  font-size: 42px;
  font-weight: 900;
  padding-bottom: 30px;
}
h2{
  font-size: 30px;
  padding-bottom: 20px;
}
h3{
  font-size: 24px;
  padding-bottom: 25px;
}
h4{
  font-size: 16px;
  text-transform: uppercase;
  padding: 30px 0;
}
h5{
  font-size: 14.5px;
  padding: 10px 0;
}
.h5_big{
  font-size: 30px;
}
p{
  font-size: 14.5px;
  line-height: 2;
}

.t_sm{
  font-size: 12px;
}
.t_center{
  text-align: center;
}
.t_left{
  text-align: left;
}
.t_right{
  text-align: right;
}
a{
  font-size: 14.5px;
  text-decoration: none;
  color: #33475B;
}

li{
  list-style: none;
  padding: 0 15px 0 0;
  text-transform: capitalize;
  font-size: 14.5px;
}
/* btn */
.bg_btn{
  background: #FE775A;
  border-radius: 6px;
  color: white;
  border: 1px solid #FE775A;
}
.bg_btn:hover{
  background: #ffbcac;
  border: 1px solid #ffbcac;
}
.btn{
  display: inline-block;
  margin: 40px 0;
}
.p_btn{
  padding: 20px 35px;
}

.btn_login{
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px;
}
.btn_login:hover{
  background: #fff1ee;
}

.btn_learn_more{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn_support:hover{
  background: #eaf0f6;
}
.btn_support{
  font-size: 13.5px;
  background: white;
  padding: 10px;
  margin: 20px 0;
  border-radius: 6px;
  border: 1px solid white;
  display: inline-block;
}
/* /btn */
/* bg/color text */
.bg_light{
  background: #F4F9FD;
}
.bg_icon{
  color: #00A4BD;
}
.bg_ban{
  background: #AFEBE4;
}
.bg_community{
  background: #00A8BA;
}
.bg_footer{
  background: #32495B;
}

.color_text{
  color: #33475B;
}

.text_white{
  color: white;
}

.color_link:hover{
  color: #007a8c;
  text-decoration: underline;
}
/* bordi header */
.border_t{
  border-top: 2px solid #33475B;
}
.border_b{
  border-bottom: 2px solid #33475B;
}
.border_r{
  border-right: 1px solid #33475B;
}
/* icone main */

/* padding */

.p_50{
  padding: 50px;
}

.p_20{
  padding: 20px;
}
.p_r_20{
  padding-right: 20px;
}
.p_l_20{
  padding-left: 20px;
}

.p_l_10{
  padding-left: 10px;
}

.p_10_20{
  padding: 10px 20px;
}


/* /utility */

/* header */
/* navbar_top */
.menu_left, .menu_right{
  width: 50%;
  line-height: 80px;
}
/* navbar */
.logo{
  width: 20%;
  margin-top: 7px;
}
.nav_inner{
  width: 80%;
}
.logo, .nav_inner{
  line-height: 80px;
}
/* hero */
.hero{
  height: 610px;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero_image{
  position: relative;
}
.hero_text{
  width: 44%;
  position: absolute;
  transform: translateY(67px);
}
/* /header */

/* main */
.icon_li{
  color: #FE775A;
  padding-right: 10px;
}
/* services */
#services p.center{
  padding: 0 70px;
}
.cubo{
  transform: translateX(20px);
}
/* .col_12 */
.col_12::after{
  content: "";
  display: table;
  clear: both;
}
.col_12{
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
  background: white;
  padding: 60px 0;
}
.col_left{
  width: 30%;
  padding: 10px;
}
.libro{
  width: 52%;
  transform: translateY(-13px);
}
.col_left a{
  transform: translateY(-15px);
}

.col_right{
  width: 70%;
  padding-left: 20px;
  padding-right: 81px;
}
.col_right li{
  display: inline-block;
}
#hr_inline{
  transform: translate(214px, -41px);
  width: 64%;
  border: 1px solid grey;
}
/* .col_4 */
.row::after{
  content: "";
  display: table;
  clear: both;
}
.col_4{
  width: 30%;
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 2.5%;
  border-radius: 6px;
  box-shadow: 0 0 10px #E6ECF1;
}
.col_4_center{
  margin-left: 5%;
  margin-right: 5%;
}

.card hr{
  margin-top: 40px;
  border: 1px solid grey;
}
/* img */
.marketing_hub{
  width: 37%;
}
.sales_hub{
  width: 46%;
}
.service_hub{
  width: 34%;
}
.marketing_hub, .sales_hub, .service_hub{
  margin: 14px 0;
}
/* /.services */
/* .community */
#community{
  padding: 50px 0 100px;
}

.support::after{
  content: "";
  display: table;
  clear: both;
}
.support{
  padding-top: 30px;
}
.col_3{
  width: 25%;
  padding: 20px 50px;
}

.plus_sm{
  font-size: 14px;
  transform: translateY(-5px);
}

.b_bottom{
  border-bottom: 1px solid white;
}
.b_right{
  border-right: 1px solid white;
}

/* immagini */
.row1_3{
  width: 70%;
  padding: 2.5px 0;
}
.row1_4{
  transform: translateY(-6px);
}
.row2_4{
  padding: 5px 0;
}
/* /community */
/* testimonials */
#testimonials{
  padding: 50px 0;
}
.row_t::after{
  content: "";
  display: table;
  clear: both;;
}
.col_6_left{
  width: 30%;
  padding-right: 65px
}
.col_6_right{
  width: 70%;
  text-align: right;
}
.row_t.top{
  padding: 0 65px;
}

.col_6_right img{
  width: 20%;
  display: inline-block;
}
.icon_row::after{
  content: "";
  display: table;
  clear: both;
}
/* immagini */
.icon_row1_1{
  padding: 12px 20px 20px;
  transform: translateY(5px);
}
.icon_row1_2{
  padding: 20px 20px;
  transform: translateY(-2px);
}
.icon_row1_3{
  padding: 12px 20px;
  transform: translateY(-2px);
}
.icon_row1_4{
  padding: 10px 20px 14px;
  transform: translateY(-3px);
}
.icon_row2_1{
  padding: 10px 20px;
  transform: translateY(0px);
}
.icon_row2_2{
  padding: 10px 20px;
  transform: translateY(6px);
}
.icon_row2_3{
  padding: 10px 20px;
  transform: translateY(5px);
}
.icon_row2_4{
  padding: 10px 20px;
  transform: translateY(5px);
}
/* /immagini */
.col_6_b{
  width: 50%;
  padding: 100px 0 0;
}
.p_r_60{
  padding-right: 60px;
}
.col_6_b > img {
  width: 66%;
  transform: translateY(-11%);
}
/* /main */
/* footer */
#site_footer{
  padding: 30px 0;
}

.link_wpaper::after{
  content: "";
  display: table;
  clear: both;
}
.col_3_f{
  width: 25%;
}
.col_3_f > h5{
  font-size: 15px;
  padding-bottom: 20px;
}

.link > li > a{
  color: white;
  line-height: 2.5;
}
.link > li > a:hover{
  color: #7fd1de;
  text-decoration: underline;
}

.social::after{
  content: "";
  display: table;
  clear: both;
}
.social > a{
  color: white;
  width: 15%;
}
.social > a:hover{
  color: #7fd1de;
}

.languages{
  margin-top: 80px;
}
.languages > a{
  color: white;
  padding: 0 10px;
}
.languages > a:hover, .legal > a:hover{
  color: #7fd1de;
  text-decoration: underline;
}
.languages >hr{
  margin-top: 10px;
}

.privacy ::after{
  content: "";
  display: table;
  clear: both;
}
.privacy{
  padding: 30px 0;
}

.logo_copyright, .legal{
  width: 50%;
}

.legal > a{
  color: white;
  display: inline-block;
}
/* /footer */
